In [1]:
import pandas as pd
import os

In [3]:
##Question1
#Reading excel file using pandas read_excel function
school_info = pd.read_excel('../england_school_information.xlsx')
#Filtering data for secondary schools
school_info = school_info [school_info.ISSECONDARY == 1]
#Filtering
school_info=school_info[['URN', 'LA','GENDER','RELCHAR']]

In [4]:
##Question 2
cencus = pd.read_excel('../england_census.xlsx')
cencus['PNUMFSM'] = round(cencus['NUMFSM']/cencus['NOR']*100,1)
cencus=cencus[['URN', 'LA','PNORG','PNORB','PSENELSE','PSENELK','PNUMEAL', 'PNUMENGFL', 'PNUMUNCFL','NUMFSMEVER', 'PNUMFSMEVER']]

In [5]:
##Question 3
abs_df = pd.read_excel('../england_abs.xlsx')
abs_df = abs_df.drop('ESTAB', 1)

In [6]:
##Question 4
provisional = pd.read_excel('../england_ks4provisional.xlsx')
provisional = provisional[['URN', 'LEA', 'TPUP', 'P8PUP', 'ATT8SCR', 'P8MEA', 'P8CILOW', 'P8CIUPP', 'EBACCAPS', 'PTL2BASICS_94', 'PTL2BASICS_95', 'PTEBACC_E_PTQ_EE', 'PTEBACC_94', 'PTEBACC_95', 'PT5EM_94','P8_BANDING']]

In [7]:
##Question 5
pupdes = pd.read_excel('../england_ks4-pupdest.xlsx')
pupdes = pupdes[['URN', 'LEA', 'OVERALL_DESTPER', 'NOT_SUSTAINEDPER', 'UNKNOWNPER', 'OVERALL_DESTPER_DIS','NOT_SUSTAINEDPER_DIS' ,'UNKNOWNPER_DIS']]

In [8]:
##Question 6
school_info1 = school_info.merge(cencus, on='URN', how='left')
school_info1 = school_info1.merge(abs_df, on='URN', how='left')
school_info1 = school_info1.merge(provisional, on='URN', how='left')
school_info1 = school_info1.merge(pupdes, on='URN', how='left')

In [9]:
#Question 7
ratings = pd.read_excel('../OFSTED Ratings.xlsx')
school_info1 = school_info1.merge(ratings, on='URN', how='left')

#Question 8 (REASONS why data is missing ) need to format Progress 8 score There is no data available for this school or college for this measure. This is for the following reason: NP

#Key stage 4 data is not available for this school because it does not teach pupils to the end of key stage 4.

#progress 8 score - There is no data available for this school or college for this measure. This is for the following reason: Not published

Staying in education or entering employment -There is no data available for this school or college for this measure. This is for the following reason: --

#148029

#-Key stage 4 data is not available or applicable for this school or college. This is normally because:

#-The school became an academy or changed type during the 2018 to 2019 academic year. In these cases, the 2019 data will be found on the former school's page.

#-The school had no pupils who completed key stage 4 in 2019.

#This is a new academy which opened on 01/09/2020.

In [10]:
##question 9
#covered in part 3
##question 10
#we can check min and maximum values of each varaible 
school_info1.describe()

,LA_x,LA_y,PNORG,PNORB,PSENELSE,PSENELK,PNUMEAL,PNUMENGFL,PNUMUNCFL,NUMFSMEVER,PNUMFSMEVER,PERCTOT,LEA_x,TPUP,LEA_y
count,6396.000000,5644.000000,5640.000000,5640.000000,5636.000000,5638.000000,4224.000000,4224.000000,4224.000000,4222.000000,4222.000000,4238.00000,5495.000000,3948.000000,3728.000000
mean,680.274547,682.415131,44.127234,55.873298,21.710202,10.695371,15.437524,84.147964,0.414796,202.113690,33.266698,6.78353,676.916288,136.526089,679.141631
std,272.310131,271.839824,21.680791,21.681102,38.807479,10.385859,18.837173,19.076093,1.927606,155.864595,18.187835,4.13573,272.205632,82.298391,269.816364
min,201.000000,201.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.600000,0.000000,0.000000,0.000000,1.50000,201.000000,1.000000,202.000000
25%,353.000000,353.000000,35.300000,49.500000,0.700000,4.100000,2.800000,79.000000,0.000000,76.000000,18.600000,4.90000,352.000000,78.000000,353.000000
50%,846.000000,850.000000,47.600000,52.400000,1.700000,9.600000,7.400000,92.300000,0.000000,167.000000,30.700000,5.70000,845.000000,144.000000,845.000000
75%,888.000000,888.000000,50.500000,64.700000,4.700000,14.600000,20.300000,97.000000,0.200000,288.000000,45.100000,7.20000,888.000000,194.000000,888.000000
max,938.000000,938.000000,100.000000,100.000000,100.000000,100.000000,96.400000,100.000000,75.300000,1216.000000,100.000000,49.60000,938.000000,563.000000,938.000000

In [11]:
#Question 11
##Sum of PNUMEAL,PNUMENGFL,PNUMUNCFL should be 100
##Sum of OVERALL_DESTPER_DIS,NOT_SUSTAINEDPER_DIS,UNKNOWNPER_DIS should be 100

In [12]:
#saving the dataset for next component
school_info1.to_excel("../output_component1.xlsx")